{{ with ( index $.Site.Data.mission $.Site.Language.Lang)}}
    {{ if .enable }}
    {{"<!-- Start Mission Section -->" | safeHTML}}
    <section id="mission" class="parallax-section bg-dark section" style='background-image: url("{{ .bgImage | absURL }}")'>
        <div class="container">
            <div class="row">
                {{"<!-- section title -->" | safeHTML}}
                <div class="title text-center wow fadeInRight" data-wow-duration="500ms">
                    <a href="#mission">
                      <h2>
                        <span class="hidden-title-link">
                          <i class="fas fa-link"></i>
                        </span>
                        {{ .heading}} <span class="color">{{ .headingSpan}}</span>
                      </h2>
                    </a>
                    <div class="border"></div>
                    {{ if .summary}}
                        <h3 class="summary">
                            {{ .summary }}
                        </h3>
                    {{ end }}
                </div>
                {{"<!-- /section title -->" | safeHTML}}

                <div class="wow fadeIn" data-wow-duration="3000ms">
                    {{ if .leftItem }}
                    <div class="col-12 col-md-6">
                        {{ range .leftItem }}
                            <p class="{{ .style }} px-10">
                                {{ .content }}
                            </p>
                        {{ end }}
                    </div>
                    {{ end }}
                    {{ if .rightItem }}
                    <div class="col-12 col-md-6">
                            {{ range .rightItem }}
                            <p class="{{ .style }} px-10 ">
                                {{ .content }}
                            </p>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>

                {{ range .goalItem }}
                <div class="col-md-4 col-sm-6 col-12 text-center wow fadeInUp" data-wow-duration="500ms">
                    <div class="counters-item">
                        {{with .iconPath}}<img src="{{ . }}" />{{ end }}
                        <h3>{{ .title }}</h3>
                        <p>
                            {{ .summary }}
                        </p>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </section>
    {{"<!-- /Mission Section -->" | safeHTML}}
    {{ end }}
{{ end }}